<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Four.2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="magneticReading">
  <p>Magnetic Compass Reading: {{magneticReading}} </p> 

</div>
<p>
  Sending a POST Request Example
</p>
<button ion-button (click)="sendPostRequest()">Post Data</button>

       <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button (click)="check()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>