<ion-header>
 
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/citygif2.gif" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Welcome to smart cities reasearch test.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Actions</ion-label>
      </ion-list-header>

      <ion-item (click)="takePicture()">
        <ion-icon slot="start" color="medium" name="radio-button-off"></ion-icon>
        <ion-label>Take picture</ion-label>
      </ion-item>

      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
